:root {
   --card-width: 6vw;
   --card-height: 15vh;
}

.cards {
   flex: 1;
   display: flex;
}

.selected-cards {
   position: absolute;
   @include flex-container(column, nowrap, space-evenly);

   .selected-card-name {
      border: 0.1vmin solid white;
   }
}

.card {
   position: relative;
   margin: 0.5em;
   width: var(--card-width);
   height: var(--card-height);
   border: 0.5vmin dotted transparent;

   cursor: pointer;

   .image {
      @include absolute-center();
      max-width: 100%;
      max-height: 100%;
   }

   &:disabled {
      cursor: not-allowed;
   }

   &.face-down {
      filter: brightness(0.8);
   }

   &.selected {
      border-color: red;
      opacity: 0.5;
   }
}
