.cards {
   flex: 1;
   display: flex;
}

.selected-cards {
   display: flex;
   justify-content: space-evenly;

   .selected-card-name {
      border: 0.1vmin solid white;
   }
}

.card {
   position: relative;
   margin: 0.5em;
   width: 6vw;
   height: 15vh;
   border: 0.5vmin dotted transparent;

   cursor: pointer;

   .image {
      @include absolute-center();
      max-width: 100%;
      max-height: 100%;
   }

   &:disabled {
      cursor: not-allowed;
   }

   &.face-down {
      filter: brightness(0.8);
   }

   &.selected {
      border-color: red;
      opacity: 0.5;
   }
}
