:root {
   --card-width: 6vw;
   --card-height: 15vh;
}

.import-assets {
   content: url('../../public/img/cards/back_dark.png');
   content: url('../../public/img/cards/back_light.png');
   content: url('../../public/img/cards/clubs_2.png');
   content: url('../../public/img/cards/clubs_3.png');
   content: url('../../public/img/cards/clubs_4.png');
   content: url('../../public/img/cards/clubs_5.png');
   content: url('../../public/img/cards/clubs_6.png');
   content: url('../../public/img/cards/clubs_7.png');
   content: url('../../public/img/cards/clubs_8.png');
   content: url('../../public/img/cards/clubs_9.png');
   content: url('../../public/img/cards/clubs_10.png');
   content: url('../../public/img/cards/clubs_J.png');
   content: url('../../public/img/cards/clubs_Q.png');
   content: url('../../public/img/cards/clubs_K.png');
   content: url('../../public/img/cards/clubs_A.png');

   content: url('../../public/img/cards/spades_2.png');
   content: url('../../public/img/cards/spades_3.png');
   content: url('../../public/img/cards/spades_4.png');
   content: url('../../public/img/cards/spades_5.png');
   content: url('../../public/img/cards/spades_6.png');
   content: url('../../public/img/cards/spades_7.png');
   content: url('../../public/img/cards/spades_8.png');
   content: url('../../public/img/cards/spades_9.png');
   content: url('../../public/img/cards/spades_10.png');
   content: url('../../public/img/cards/spades_J.png');
   content: url('../../public/img/cards/spades_Q.png');
   content: url('../../public/img/cards/spades_K.png');
   content: url('../../public/img/cards/spades_A.png');

   content: url('../../public/img/cards/hearts_2.png');
   content: url('../../public/img/cards/hearts_3.png');
   content: url('../../public/img/cards/hearts_4.png');
   content: url('../../public/img/cards/hearts_5.png');
   content: url('../../public/img/cards/hearts_6.png');
   content: url('../../public/img/cards/hearts_7.png');
   content: url('../../public/img/cards/hearts_8.png');
   content: url('../../public/img/cards/hearts_9.png');
   content: url('../../public/img/cards/hearts_10.png');
   content: url('../../public/img/cards/hearts_J.png');
   content: url('../../public/img/cards/hearts_Q.png');
   content: url('../../public/img/cards/hearts_K.png');
   content: url('../../public/img/cards/hearts_A.png');

   content: url('../../public/img/cards/diamonds_2.png');
   content: url('../../public/img/cards/diamonds_3.png');
   content: url('../../public/img/cards/diamonds_4.png');
   content: url('../../public/img/cards/diamonds_5.png');
   content: url('../../public/img/cards/diamonds_6.png');
   content: url('../../public/img/cards/diamonds_7.png');
   content: url('../../public/img/cards/diamonds_8.png');
   content: url('../../public/img/cards/diamonds_9.png');
   content: url('../../public/img/cards/diamonds_10.png');
   content: url('../../public/img/cards/diamonds_J.png');
   content: url('../../public/img/cards/diamonds_Q.png');
   content: url('../../public/img/cards/diamonds_K.png');
   content: url('../../public/img/cards/diamonds_A.png');
}

.cards {
   flex: 1;
   display: flex;
}

.selected-cards {
   position: absolute;
   @include flex-container(column, nowrap, space-evenly);

   .selected-card-name {
      border: 0.1vmin solid white;
   }
}

.card {
   position: relative;
   margin: 0.5em;
   width: var(--card-width);
   height: var(--card-height);
   border: 0.5vmin dotted transparent;

   cursor: pointer;

   .image {
      @include absolute-center();
      max-width: 100%;
      max-height: 100%;
   }

   &:disabled {
      cursor: not-allowed;
   }

   &.face-down {
      filter: brightness(0.8);
   }

   &.selected {
      border-color: red;
      opacity: 0.5;
   }
}
