.view.home {
   @include flex-container(column, nowrap, space-around, center);
   height: 100vh;
   background-color: #142436;

   .caption {
      flex: 2;
      @include flex-container(row, nowrap, center, center);
      @include backgroundImg('/img/logo-lecasino-v1.png');

      width: -webkit-fill-available;
      border-radius: 4vmin;
   }

   .game-container {
      flex: 1;
      @include flex-container(column, nowrap, center);

      .btn {
         flex: 1;
         position: relative;
         margin: 0.5em;

         text-transform: uppercase;

         &:disabled:after {
            position: absolute;
            content: 'coming soon...';
            left: calc(100% + 1em);
            text-wrap: nowrap;
         }
      }
   }
}
