.players {
   display: flex;
   flex-wrap: wrap;
   gap: 1em;
}

.player-card {
   flex: 1 1 47%;
   @include flex-container(column, nowrap, center);
   background-color: rgba(0, 0, 0, 0.2);
   border: 0.5vmin solid transparent;

   &:nth-child(3) {
      order: 4;
   }

   &:nth-child(4) {
      order: 3;
   }

   .player-info {
      flex: 1;
      @include flex-container(row, nowrap, space-evenly, center);
   }

   .cards {
      flex: 1;
      align-self: center;
   }

   .btn {
      margin: auto;
      cursor: pointer;

      &:disabled {
         cursor: not-allowed;
      }
   }

   &.current {
      background-color: transparent;
      color: red;
   }
}
