.players {
   display: flex;
   flex-wrap: wrap;
   gap: 1em;
}

.player-card {
   flex: 1 1 47%;
   @include flex-container(column, nowrap, center);
   background-color: rgba(0, 0, 0, 0.2);
   border: 0.5vmin solid transparent;

   .player-info {
      @include flex-container(row, nowrap, space-evenly, center);
   }

   .cards {
      align-self: center;
   }

   .btn.btn-discard {
      cursor: pointer;

      &:disabled {
         cursor: not-allowed;
      }
   }

   &.current {
      background-color: transparent;
      color: red;
   }
}
