#table {
   @include absolute-center();
   @include flex-container(column-reverse);
   @include backgroundImg('/img/table.png');
   width: 100vw;
   height: 100vh;
   background-color: #1f3223;

   .table-header {
      position: fixed;
      @include flex-container(column, nowrap, center, center);
      top: 1vmin;
      left: 1vmin;
      font-size: 2.5vmin;

      .current-game {
         text-transform: uppercase;
      }

      .btn.btn-exit {
         font-size: 0.5em;

         &:hover,
         &:focus,
         &:active {
            background-color: red;
            color: white;
         }
      }
   }

   .round-indicator {
      position: absolute;
   }

   .controls {
      @include flex-container(row, nowrap, space-evenly);
      padding: 5vmin;
   }

   .deck-container {
      position: absolute;
      left: calc(50% - var(--card-width));
      top: 0;

      .deck {
         position: relative;
         width: var(--card-width);
         height: var(--card-height);

         > .card {
            @include absolute-center();
         }
      }
   }

   .discard-pile {
      position: absolute;
      left: 50%;
      top: 0;
      width: var(--card-width);
      height: var(--card-height);
      border: 0.5vmin solid red;

      .card {
         @include absolute-center();
      }
   }

   .players {
      flex: 1;
   }
}
